*.sw?
base.json
parameters.json
.ropeproject
ansible/parameters
ansible/tests
ansible/tests.json
ansible/roles/
mica/pin
mica/ansible/pin
mica/ansible/roles/
.snapshots
ansible/.ipynb_checkpoints/
ansible/nbextensions/
ansible/alltests.csv
ansible/inventory
ansible/target.json
