[submodule "experiments/vendor/baseliner"]
	path = experiments/vendor/baseliner
	url = git@github.com:ivotron/baseliner
[submodule ".vendor/torpor"]
	path = .vendor/torpor
	url = git@github.com:ivotron/torpor
